 :root {
    --dark-grey: #18191a;
    --overlay-grey: #242526;
    --hover-grey: #3a3b3c;
    --primary-text: #e4e6eb;
    --secondary-text: #b0b3b8;
    --left-width: 40vw;
    --left-indent: 2vw;
    --input-space: 8px;
    --title-text: 1.6rem;
 }
 
 body {
    background-color: var(--dark-grey);
    color: var(--primary-text);
    display: flex;
 }

 div {
    color: var(--primary-text);
 }

 .top-text {
    margin-left: var(--left-indent);
    margin-top: 15vh;
    font-size: var(--title-text);
    font-weight: bold;
 }

 .italic {
    font-style: italic;
 }

 .underline {
    text-decoration: underline;
 }

 .card-container {
    position: relative;
    width: var(--left-width);
 }

 .card-image {
    position: relative;
    width: var(--left-width);
    height: 100vh;
    z-index: -1;
 }

 .card-body {
    display: flex;
    position: absolute;
    text-align: center;
    width: var(--left-width);
    top: 6rem;
    opacity: 0.6;
    background-color: var(--dark-grey);
    justify-content: center;
    align-items: center;
 }

 .odin-image {
    height: 10vh;
    padding: 0.5em;
 }

 .card-text {
    font-size: 3em;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    padding: 0.5em;
 }

 .card-footer {
    position: absolute;
    margin-top: 96vh;
    margin-left: 6vw;
    text-align: center;
 }

 .right-side {
    display: flex;
    flex-direction: column;
 }

 .input-section {
    background-color: var(--overlay-grey);
    border-radius: 8px;
    padding: 1rem;
 }

 .input-title {
    font-size: var(--title-text);
    font-weight: bold;
 }

 .field {
    margin: 0.1em;
 }

 .input-row {
    display: flex;
 }

 .input-field {
    padding: var(--input-space);
 }

 .submit {
    margin-top: 3vh;
    margin-left: var(--left-indent);
 }

 .create-account {
    color: var(--primary-text);
    background-color: rgb(89, 60, 95);
    border: #e4e6eb;
    border-radius: 4px;
    height: 42px;
    width: 180px;
 }

 .create-account:active {
    background-color: rgb(79, 50, 85);
    box-shadow: inset;
 }